<link rel="stylesheet" href="/public/css/dashboard.min.css" />

<%- include('../partials/admin-nav') %>
<div class="container mt-3">
    <h1 class="my-4">Administration Dashboard</h1>

    <% if(alert) { %>
    <div class="alert alert-<%= alert.type %>" role="alert">
        <%= alert.message %>
    </div>
    <%} %>

    <div class="col-md-12">
        <h3>Tests</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Test ID</th>
                    <th>Test Status</th>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <% tests.forEach((test, i) => { %>
                <tr data-tid="<%= test.tid %>">
                    <td
                        class="link"
                        title="view test"
                        onclick="window.location.pathname = '/admin/view-test/<%= test._id %>'"
                    >
                        <%= i + 1 %>
                    </td>
                    <td><%= test.tid %></td>
                    <td><%= test.status %></td>
                    <td><%= test.name %></td>
                    <td><%= test.type %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <div class="d-flex">
            <a
                href="/admin/add-test"
                class="btn btn-outline-primary d-flex align-items-center me-3"
            >
                <span class="material-icons-outlined">add</span>
            </a>
            <button class="btn btn-primary me-3" id="select-all">
                Select All
            </button>
            <button class="btn btn-outline-primary" id="export-csv">
                Export To CSV
            </button>
        </div>
    </div>
</div>

<script src="/public/js/dashboard.js"></script>
