<link rel="stylesheet" href="/public/css/dashboard.min.css" />

<%- include('../partials/admin-nav') %>
<div class="container mt-3 m-auto py-5">
    <% if(alert) { %>
    <div class="alert alert-<%= alert.type %>" role="alert">
        <%= alert.message %>
    </div>
    <%} %>

    <div class="col-md-12 m-auto">
        <header
            class="
                mb-3
                d-flex
                align-items-end
                justify-content-between
                flex-wrap
            "
        >
            <div>
                <h1>Tests</h1>
                <p class="mb-3 desc-p">
                    Click on the number in the left column to inspect a specific
                    row in the table. (#)
                </p>
            </div>

            <div class="d-flex mb-3">
                <a
                    href="/admin/add-test"
                    class="
                        btn btn-outline-primary
                        d-flex
                        align-items-center
                        me-3
                    "
                    >Add Test
                    <span class="material-icons-outlined ms-1">add</span>
                </a>
            </div>
        </header>
        <% if(user.accessLevel >= 1) { %>
        <div class="table-actions mb-3 rounded">
            <form method="POST" action="/admin/dashboard/filter">
                <div class="d-flex align-items-end flex-wrap">
                    <a
                        href="/admin/dashboard"
                        class="btn btn-outline-danger me-3 mb-3 flex-grow-1"
                    >
                        Reset Filters
                    </a>
                    <section class="me-3 mb-3 flex-grow-1">
                        <label class="form-label" for="from">From</label>
                        <input
                            type="date"
                            class="form-control"
                            id="from"
                            name="from"
                            value="<%= filters.from %>"
                        />
                    </section>
                    <section class="me-3 mb-3 flex-grow-1">
                        <label class="form-label" for="to">To</label>
                        <input
                            type="date"
                            class="form-control"
                            id="to"
                            name="to"
                            value="<%= filters.to %>"
                        />
                    </section>
                    <section class="me-3 mb-3 flex-grow-1">
                        <label class="form-label" for="status">Status</label>
                        <select name="status" id="status" class="form-control">
                            <% ["all", "pending", "negative",
                            "positive"].forEach(status => { %> <% if(status ===
                            filters.status) { %>
                            <option value="<%= status %>" selected>
                                <%= status %>
                            </option>
                            <% } else { %>
                            <option value="<%= status %>"><%= status %></option>
                            <% } %> <% }) %>
                        </select>
                    </section>
                    <section class="me-3 mb-3 flex-grow-1">
                        <label class="form-label" for="type">Test Type</label>
                        <select name="type" id="type" class="form-control">
                            <% ["all", "rdt", "pcr"].forEach(type => { %> <%
                            if(type === filters.type) { %>
                            <option value="<%= type %>" selected>
                                <%= type %>
                            </option>
                            <% } else { %>
                            <option value="<%= type %>"><%= type %></option>
                            <% } %> <% }) %>
                        </select>
                    </section>
                    <section class="me-3 mb-3 flex-grow-1">
                        <label class="form-label" for="entity">Entity</label>
                        <select name="entity" id="entity" class="form-control">
                            <% ["all", ...entities].forEach(entity => { %> <%
                            if(entity === filters.entity) { %>
                            <option value="<%= entity %>" selected>
                                <%= entity %>
                            </option>
                            <% } else { %>
                            <option value="<%= entity %>"><%= entity %></option>
                            <% } %> <% }) %>
                        </select>
                    </section>
                    <button
                        class="btn btn-primary mb-3 me-3 flex-grow-1"
                        type="submit"
                    >
                        Filter Data
                    </button>
                </div>
            </form>
            <div class="d-flex mb-3 mt-5">
                <button class="btn btn-primary me-3" id="select-all">
                    Select All
                </button>
                <button class="btn btn-outline-primary" id="export-csv">
                    Export To CSV
                </button>
            </div>
        </div>
        <% } %>
        <div class="table-container mb-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Test ID</th>
                        <th>Date</th>
                        <th>Test Status</th>
                        <th>Name</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    <% tests.forEach((test, i) => { %>
                    <tr data-tid="<%= test.tid %>">
                        <td
                            class="link"
                            title="view test"
                            onclick="window.location.pathname = '/admin/view-test/<%= test._id %>'"
                        >
                            <%= i + 1 %>
                        </td>
                        <td><%= test.tid %></td>
                        <td><%= test.createdAt %></td>
                        <td><%= test.status %></td>
                        <td><%= test.name %></td>
                        <td><%= test.type %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-12 col-md-4 mt-5">
        <label for="" class="form-label">Filter Data By</label>
        <select id="graph-mode" class="form-control">
            <option value="dd">Day</option>
            <option value="ww">Week</option>
            <option value="mm">Month</option>
        </select>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 graph-holder">
            <div class="graph-container shadow-sm rounded">
                <h3>Test Type</h3>
                <canvas class="type-chart"></canvas>
            </div>
        </div>
        <div class="col-12 col-lg-6 graph-holder">
            <div class="graph-container shadow-sm rounded">
                <h3>Entities Status</h3>
                <canvas class="entities-chart"></canvas>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 col-lg-6 graph-holder">
            <div class="graph-container shadow-sm rounded">
                <h3>Test Status</h3>
                <canvas class="status-chart"></canvas>
            </div>
        </div>
        <div class="col-12 col-lg-6 graph-holder">
            <div class="graph-container shadow-sm rounded">
                <h3>Employement Status</h3>
                <canvas class="employement-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="/public/js/libs/moment.min.js"></script>
<script src="/public/js/dashboard.js"></script>
<script src="/public/js/libs/chart.min.js"></script>
<script src="/public/js/charts.js"></script>
