<link rel="stylesheet" href="/public/css/dashboard.min.css" />

<%- include('../partials/admin-nav') %>
<div class="container mt-3 m-auto py-5">
    <% if(alert) { %>
    <div class="alert alert-<%= alert.type %>" role="alert">
        <%= alert.message %>
    </div>
    <%} %>

    <div class="col-md-12 m-auto">
        <header
            class="
                mb-3
                d-flex
                align-items-end
                justify-content-between
                flex-wrap
            "
        >
            <div>
                <h1>Tests</h1>
                <p class="mb-3 desc-p">
                    Click on the number in the left column to inspect a specific
                    row in the table. (#)
                </p>
            </div>

            <div class="d-flex mb-3">
                <a
                    href="/admin/add-test"
                    class="
                        btn btn-outline-primary
                        d-flex
                        align-items-center
                        me-3
                    "
                    >Add Test
                    <span class="material-icons-outlined ms-1">add</span>
                </a>
            </div>
        </header>
        <% if(user.accessLevel >= 1) { %>
        <div class="table-actions mb-3 rounded">
            <form>
                <div class="d-flex align-items-end flex-wrap">
                    <section class="me-3 mb-3 flex-grow-1">
                        <label class="form-label">From</label>
                        <input type="date" class="form-control" />
                    </section>
                    <section class="me-3 mb-3 flex-grow-1">
                        <label class="form-label">To</label>
                        <input type="date" class="form-control" />
                    </section>
                    <section class="me-3 mb-3 flex-grow-1">
                        <label class="form-label">Month</label>
                        <select name="" id="" class="form-control">
                            <option value="">January</option>
                            <option value="">February</option>
                            <option value="">March</option>
                            <option value="">April</option>
                            <option value="">May</option>
                            <option value="">June</option>
                            <option value="">July</option>
                            <option value="">August</option>
                            <option value="">September</option>
                            <option value="">October</option>
                            <option value="">November</option>
                            <option value="">December</option>
                        </select>
                    </section>
                    <section class="me-3 mb-3 flex-grow-1">
                        <label class="form-label">Status</label>
                        <select name="" id="" class="form-control">
                            <option value="">Pending</option>
                            <option value="">Negative</option>
                            <option value="">Positive</option>
                        </select>
                    </section>
                    <section class="me-3 mb-3 flex-grow-1">
                        <label class="form-label">Test Type</label>
                        <select name="" id="" class="form-control">
                            <option value="">RDT</option>
                            <option value="">PCR</option>
                        </select>
                    </section>
                    <section class="me-3 mb-3 flex-grow-1">
                        <label class="form-label">Entity</label>
                        <select name="" id="" class="form-control">
                            <% entities.forEach(entity => { %>
                            <option value="<%= entity %>"><%= entity %></option>
                            <% }) %>
                        </select>
                    </section>
                    <button
                        class="btn btn-primary mb-3 me-3 flex-grow-1"
                        type="button"
                    >
                        Select
                    </button>
                </div>
            </form>
            <div class="d-flex mb-3 mt-5">
                <button class="btn btn-primary me-3" id="select-all">
                    Select All
                </button>
                <button class="btn btn-outline-primary" id="export-csv">
                    Export To CSV
                </button>
            </div>
        </div>
        <% } %>
        <div class="table-container mb-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Test ID</th>
                        <th>Date</th>
                        <th>Test Status</th>
                        <th>Name</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    <% tests.forEach((test, i) => { %>
                    <tr data-tid="<%= test.tid %>">
                        <td
                            class="link"
                            title="view test"
                            onclick="window.location.pathname = '/admin/view-test/<%= test._id %>'"
                        >
                            <%= i + 1 %>
                        </td>
                        <td><%= test.tid %></td>
                        <td><%= test.createdAt %></td>
                        <td><%= test.status %></td>
                        <td><%= test.name %></td>
                        <td><%= test.type %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-12 col-md-4 mt-5">
        <label for="" class="form-label">Filter Data By</label>
        <select id="graph-mode" class="form-control">
            <option value="dd">Day</option>
            <option value="ww">Week</option>
            <option value="mm">Month</option>
        </select>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 graph-holder">
            <div class="graph-container shadow-sm rounded">
                <h3>Test Type</h3>
                <canvas class="type-chart"></canvas>
            </div>
        </div>
        <div class="col-12 col-lg-6 graph-holder">
            <div class="graph-container shadow-sm rounded">
                <h3>Entities Status</h3>
                <canvas class="entities-chart"></canvas>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 col-lg-6 graph-holder">
            <div class="graph-container shadow-sm rounded">
                <h3>Test Status</h3>
                <canvas class="status-chart"></canvas>
            </div>
        </div>
        <div class="col-12 col-lg-6 graph-holder">
            <div class="graph-container shadow-sm rounded">
                <h3>Employement Status</h3>
                <canvas class="employement-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="/public/js/libs/moment.min.js"></script>
<script src="/public/js/dashboard.js"></script>
<script src="/public/js/libs/chart.min.js"></script>
<script src="/public/js/charts.js"></script>
