<%- include('../partials/admin-nav') %>
<div class="container mt-3 py-5">
    <div class="col-12 col-md-8 m-auto">
        <header class="mb-3 ">
            <h1>
                <%= test.name %>
                <p class="lead"><%= test.tid %></p>
            </h1>
        </header>
        <% if(alert) { %>
        <div class="alert alert-<%= alert.type %>" role="alert">
            <%= alert.message %>
        </div>
        <%} %>
        <form class="w-100" method="POST" action="/admin/update-test">
            <input type="hidden" name="_id" value="<%= test._id %>">

            <section class="mb-3">
                <label for="" class="form-label">Status</label>
                <% if(user.accessLevel >= 1) { %>
                <select
                    class="form-control"
                    name="status"
                >
                    <option value="pending"  <%= test.status === "pending" ? "selected" : "" %> >pending</option>
                    <option value="positive" <%= test.status === "positive" ? "selected" : "" %>>positive</option>
                    <option value="negative" <%= test.status === "negative" ? "selected" : "" %>>negative</option>
                </select>
                <% } else { %>
                <select
                    class="form-control"
                    name="status"
                    disabled
                >
                    <option value="pending"  <%= test.status === "pending" ? "selected" : "" %> >pending</option>
                    <option value="positive" <%= test.status === "positive" ? "selected" :"" %>>positive</option>
                    <option value="negative" <%= test.status === "negative" ? "selected" :"" %>>negative</option>
                </select>
                <% }%>
            </section>
            <div class="row">
                <section class="mb-3 col-12 col-md-6">
                    <label for="" class="form-label">Test Type</label>
                    <input type="text" class="form-control" name="type"
                    value="<%= test.type.toUpperCase() %>" <%= user.accessLevel
                    <= 1 ? 'disabled' : ''%> />
                </section>
                <section class="mb-3 col-12 col-md-6">
                    <label for="" class="form-label">Test ID</label>
                    <input type="text" class="form-control" name="tid"
                    value="<%= test.tid %>" <%= user.accessLevel <= 1 ?
                    'disabled' : ''%> />
                </section>
            </div>
            <div class="row">
                <section class="mb-3 col-12 col-md-6">
                    <label for="" class="form-label">Created At</label>
                    <input type="text" class="form-control" name="createdAt"
                    value="<%= test.createdAt %>" <%= user.accessLevel <= 1 ?
                    'disabled' : ''%> />
                </section>
                <section class="mb-3 col-12 col-md-6">
                    <label for="" class="form-label">Updated At</label>
                    <input type="text" class="form-control" name="updatedAt"
                    value="<%= test.updatedAt %>" <%= user.accessLevel <= 1 ?
                    'disabled' : ''%> />
                </section>
            </div>
            <div class="row">
                <section class="mb-3 col-12 col-md-6">
                    <label for="" class="form-label">Email</label>
                    <input type="text" class="form-control" name="email"
                    value="<%= test.email %>" <%= user.accessLevel <= 1 ?
                    'disabled' : ''%> />
                </section>
                <section class="mb-3 col-12 col-md-6">
                    <label for="" class="form-label">Phone</label>
                    <input type="text" class="form-control" name="phone"
                    value="<%= test.phone %>" <%= user.accessLevel <= 1 ?
                    'disabled' : ''%> />
                </section>
            </div>
            <div class="row">
                <section class="mb-3 col-12 col-md-6">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name"
                    value="<%= test.name %>" <%= user.accessLevel <= 1 ?
                    'disabled' : ''%> />
                </section>
                <section class="mb-3 col-12 col-md-6">
                    <label for="" class="form-label">Gender</label>
                    <% if(user.accessLevel >= 2) { %>
                    <select
                        type="text"
                        class="form-control"
                        value="<%= test.gender %>"
                        name="gender"
                    >
                        <option value="male" <%= test.gender === "male" ? "selected" :"" %>>male</option>
                        <option value="female" <%= test.gender === "female" ? "selected" :"" %>>female</option>
                    </select>
                    <% } else { %>
                    <select
                        type="text"
                        class="form-control"
                        value="<%= test.gender %>"
                        name="gender"
                        disabled
                    >
                        <option value="male" <%= test.gender === "male" ? "selected" :"" %>>male</option>
                        <option value="female" <%= test.gender === "female" ? "selected" :"" %>>female</option>
                    </select>
                    <% } %>
                </section>
            </div>
            <div class="row">
                <section class="mb-3 col-12 col-md-6">
                    <label for="" class="form-label">Entity</label>
                    <% if(user.accessLevel >= 2) { %>
                    <select
                        class="form-control"
                        name="entity"
                        value="<%= test.entity %>"
                    >
                        <% entities.forEach(entity => { %>
                        <option value="<%= entity %>" <%= test.entity === entity ? "selected" :"" %>><%= entity %></option>
                        <% }) %>
                    </select>
                    <% } else { %>
                    <select
                        class="form-control"
                        name="entity"
                        value="<%= test.entity %>"
                        disabled
                    >
                        <% entities.forEach(entity => { %>
                        <option value="<%= entity %>" <%= test.entity === entity ? "selected" :"" %>><%= entity %></option>
                        <% }) %></select
                    ><% } %>
                </section>
                <section class="mb-3 col-12 col-md-6">
                    <label for="" class="form-label">Department</label>
                    <% if(user.accessLevel >= 2) { %>
                    <select
                        class="form-control"
                        name="department"
                        value="<%= test.department %>"
                    >
                        <% departments.forEach(dep => { %>
                        <option value="<%= dep %>" <%= test.department === dep ? "selected" :"" %>><%= dep %></option>
                        <% }) %>
                    </select>
                    <% } else { %>
                    <select
                        class="form-control"
                        name="department"
                        disabled
                        value="<%= test.department %>"
                    >
                        <% departments.forEach(dep => { %>
                        <option value="<%= dep %>"><%= dep %></option>
                        <% }) %>
                    </select>
                    <% } %>
                </section>
            </div>
            <section class="mb-3">
                <label for="" class="form-label">Employment Status</label>
                <input type="text" class="form-control" name="employmentStatus"
                value="<%= test.employmentStatus %>" <%= user.accessLevel <= 1 ?
                'disabled' : ''%> />
            </section>
            <section class="mb-3">
                <label for="" class="form-label">Database Identifier</label>
                <input type="text" class="form-control" value="<%=
                test._id %>" disabled/>
            </section>
            <section class="mb-3">
                <label for="" class="form-label">Date Of Birth</label>
                <input type="text" class="form-control" name="dob" value="<%=
                test.dob %>" <%= user.accessLevel <= 1 ? 'disabled' : ''%> />
            </section>

            <div class="d-flex">
                <% if(user.accessLevel === 2) { %>
                <a onclick="if(confirm('Delete Test?')){window.location.href='/admin/delete-test/<%= test._id %>'}else{return false;};"
                    class="btn btn-outline-danger"
                    >Delete Test</a
                >
                <% } %> <% if(user.accessLevel >= 1) { %>
                <button class="btn btn-success d-block ms-auto" type="submit">
                    Update Test
                </button>
                <% } else { %>
                <button
                    class="btn btn-success d-block ms-auto"
                    type="button"
                    disabled
                >
                    Update Test
                </button>
                <% } %>
            </div>
        </form>
    </div>
</div>
